<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>WITHNAIL{% block pageTitle %}{% endblock %}</title>
    <style>
        @import "../css/1_root.css";
        @import "../css/2_basic.css";
        @import "../css/3_header_footer.css";
        @import "../css/4_layout.css";
        @import "../css/5_nav.css";
        @import "../css/6_aside.css";
        {{ cssStyleRule }}

    </style>
</head>
<body>

<header>
    <div id="topnav">
      <nav>
              <ul>
                <li>
                    <img height="130" src="../images/logo.jpg" alt="Withnail and I">
                </li>

                  <li>
                      <img src="../images/banner_all3.jpg" alt="Withnail and I">
                  </li>

                  <li>
                      <img src="../images/street_image.jpg" alt="Withnail and I">
                  </li>
                <li>
                    <img src="../images/footsteps.jpg" alt="Withnail and I">
                </li>
            </ul>

      </nav>
    </div>
</header>

<nav>
    <div id="sidenav">
        <ul>
            <li>
                <a href="index.php?action=index" class="{% block indexNavStyle %}{% endblock %}">Home</a>

            </li>

            <li>
                <a href="index.php?action=about" class="{% block aboutNavStyle %}{% endblock %}">About</a>
            </li>

            <li>
            <li>
                <a href="index.php?action=list" class="{% block listNavStyle %}{% endblock %}">View/Update Merchandise</a>
            </li>
            <li>
            <a href="index.php?action=music" class="{% block musicNavStyle %}{% endblock %}">Music Products</a>
            </li>
            <li>
                <a href="index.php?action=clothing" class="{% block clothingNavStyle %}{% endblock %}">Clothing Products</a>
            </li>

            <li>
                <a href="index.php?action=sitemap" class="{% block sitemapNavStyle %}{% endblock %}">Sitemap</a>
            </li>


            <!--next class to be updated once database is in place-->
            <li><a href="index.php?action=detail&id=1">	Featured product
                    <img class="featured" alt="DVD product" src="../images/Withnail_soundtrack_cover_vinyl.jpg" width="140" height="140"></a>
            </li>
            <li>
                <section>

                    {% if(isloggedin) %}
                        <p>you are logged in as: <strong>{{ username }}</strong></p>
                        <br>
                        <a href="index.php?action=logout">(Logout)</a>
                        <p>
                            <a href="index.php?action=showPasswordForm">Change password </a>.
                        </p>
                        <p>
                            <a href="index.php?action=showEditUserForm">Update details</a>.
                        </p>

                    {% else %}
                    <li>

                        <a href="index.php?action=login">Login</a>
                    </li>
                    <li>
                        <a href="index.php?action=register" class="{% block registerNavStyle %}{% endblock %}">Register as New User</a>
                    </li>

                    {% endif %}
            {% if('admin@withnail.com' in username)%}
                    <li>
                    <a href="index.php?action=userAdmin">User Administration</a>
                    </li>
            {% endif %}
                </section>
            </li>


        </ul>
    </div>
</nav>



{% block main %}

{% endblock %}


</body>
<footer>
    <hr>
    <div id="topnav">
        <nav>
            <ul>
                <li>
                    <a>Choose colours=></a>
                </li>
                <li>
                    <a href="index.php?action=colorGray">Grey</a>
                </li>

                <li>
                    <a href="index.php?action=colorGreen">Green</a>
                </li>
                <li>
                    <a href="index.php?action=colorBlue">LightBlue</a>
                </li>
                <li>
                    <a href="index.php?action=colorNone">No Colour</a>
                </li>
                <li>
                    <a href="index.php?action=sizeOne">Small Font</a>
                </li>

                <li>
                    <a href="index.php?action=sizeOnePointTwo">Large Font</a>
                </li>

            </ul>
                </nav>
    </div>
</footer>
</html>