{% extends '_base.html.twig' %}

{% block pageTitle %}
About page
{% endblock %}

{% block aboutNavStyle %}
current_page
{% endblock %}

{% block main %}
<div>


	<div class="column_container">

	</div>
	<div class="column_container">
		<section class="flex">
			<h2>Cast</h2>
				<table>
					<tr>
						<th>Actor</th>
						<th>Character</th>
						<th></th>
                        <th>Quotation</th>
					</tr>
					<tr>
					    <td>Richard E. Grant</td>
					    <td>Withnail</td>
                        <td> <img class="thumbnail" alt="Richard E Grant head shot" src="../images/richardegrant.jpg"></td>
                        <td>We want the finest wines available to humanity. And we want them here, and we want them now!</td>
					</tr>
					<tr>
						<td>Paul McGann</td>
						<td>Marwood/the "I" in Withnail and "I"</td>
						<td> <img class="thumbnail" alt="Paul McGann head shot" src="../images/paulmcgann.jpg"></td>
                        <td>We are not drunks, we are multi-millionaires!</td>
					</tr>
					<tr>
						<td>Richard Griffiths</td>
						<td>Uncle Monty</td>
						<td> <img class="thumbnail" alt="Richard Griffiths head shot" src="../images/richardgriffiths.jpg"></td>
                        <td>I adore you. Tell him if you must, I no longer care. I mean to have you even if it must be burglary. </td>
					</tr>
                    <tr>
                        <td>Ralph Brown</td>
                        <td>Danny</td>
                        <td> <img class="thumbnail" alt="Ralph Brown Head shot" src="../images/ralphbrown.jpg"></td>
                        <td>I don't advise a haircut, man. All hairdressers are in the employment of the government. Hair are your aerials. They pick up signals from the cosmos and transmit them directly into the brain. This is the reason bald-headed men are uptight.</td>
                    </tr>



				</table>

		</section>
		<section class="flex">
			<h2>About the Movie</h2>
			<p><strong>Withnail and I</strong> is an influential British movie which was released in 1987 and has frequently been described as one of Britain's cult films.</p>
            <p>It was written and directed by Bruce Robinson who also wrote <strong>The Killing Fields</strong> and <strong>Jennifer Eight.</strong></p>
            <p>The movie is of its time reflecting the alienation of Thatcherite Britain and is full of quotable one-liners.</p>
            <img alt="Doorstep Image" src="../images/doorstep.jpg" width="357">
            <p>The film begins in late 1960s London and depicts the comedic mishaps of two actors named Withnail,  and "I", named "Marwood". Withnail comes from a rich family whereas Marwood is from a modest background and they share a squalid flat in Camden which they share with the local Danny.</p>


 <p>Faced with financial woes they agree to rent a cottage in the country. While there they face an hilarious series of run ins with Uncle Monty, an older gay man who makes advances on Marwood and also with the local farmer.</p>
            <p>When Marwood receives a telegram about a callback from an earlier audition, he insists they return to London. As Marwood sleeps, Withnail drunkenly speeds and swerves until pulled over by the police and Withnail seeks to avoid prosecution by falsifying a urine sample. As the two actors part, Withnail admits that he will miss his companion and swans off into the distance quoting Hamlet as the film ends.</p>
		</section>
		<section>
			<aside>
					<img alt="Cinema Poster" src="../images/movie_poster.jpg">
                <img alt="Alternative Poster" src="../images/altposter.jpg" width="220">
				</aside>
		</section>
	</div>
</div>


{% endblock %}