{% extends '_base.html.twig' %}

{% block pageTitle %}
    Merchandise page
{% endblock %}

{% block registerNavStyle %}
    current_page
{% endblock %}




{% block main %}


    <div class="column_container">
        <form 		action="index.php?action=changePassword"
                     method="POST">
            <fieldset>
                <section class="contact info">
                    <legend>Change your password</legend>

                   </section>
                 <section class="authentication info">
                     <legend>Please enter your password in the two boxes below</legend>
                     <label>Choose Password:</label>
                     <input type="password" name="password1">
                     <label>Reenter password:</label>
                     <input type="password" name="password2">

                </br>
                <input type="submit">
                </p>
                </section>
            </fieldset>

        </form>

    </div>


{% endblock %}