{% extends '_base.html.twig' %}

{% block pageTitle %}
    details page
{% endblock %}

{% block detailsLinkStyle %}
    current_page
{% endblock %}

{% block main %}
    <h1>
        Message
    </h1>

    <p>
        {{  message  }}
        <a href="index.php?action=index" class="{% block productsNavStyle %}{% endblock %}">Return to Home Page</a>
    </p>

    
{% endblock %}