{% extends '_base.html.twig' %}

{% block pageTitle %}
	Sitemap page
{% endblock %}

{% block sitemapNavStyle %}
	current_page
{% endblock %}

{% block main %}
	<div>


		<div class="column_container">
			<h2>SiteMap</h2>
			<ul>
                <li>
                    <a href="index.php?action=index">Index/Home</a>
                </li>
                <li>
                    <a href="index.php?action=about">About</a>
                </li>
                <li>
                    <a href="index.php?action=list">Merchandise/Products- All Products</a>
                </li>
                <li>
                    <a href="index.php?action=music">Music/Video Merchandise</a>
                    </li>
                <li>
                    <a href="index.php?action=clothing">Clothing Merchandise</a>
                </li>
                <li>
                    <a href="index.php?action=register">User Registration</a>
                    </li>
                <li>
                    <a href="index.php?action=showEditUserForm">User Update details</a>
                </li>
                <li>
                    <a href="index.php?action=sitemap">Sitemap</a>
                </li>
                <li>
                    <a href="index.php?action=showPasswordForm">Change password</a>
                </li>
            </ul>
		</div>
	</div>


{% endblock %}